/* src/pages/NotFoundPage.css */
.not-found-page {
    min-height: 70vh; /* Đảm bảo nó chiếm một phần đáng kể của màn hình */
    padding: 2rem 0;
}

.not-found-image {
    max-width: 300px; /* Giới hạn kích thước ảnh */
    margin-bottom: 2rem !important;
}

.text-oops {
    font-family: 'Archivo Black', sans-serif;
    color: var(--color-text-muted);
    font-size: clamp(6rem, 15vw, 10rem); /* Responsive font size */
}

.title-oops {
    font-family: var(--font-family-heading-main);
    margin-bottom: 0.5rem;
}
.title-oops .text-danger {
    font-weight: bold;
}

.message-oops {
    font-family: var(--font-family-monospace);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem !important;
}

.go-home-btn {
    font-family: var(--font-family-heading-sub);
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.75rem 2rem;
}